Flask==3.1.2
flask-cors==6.0.5
waitress==3.0.2
gunicorn==23.0.0
scikit-learn==1.6.1
pandas==2.2.3
numpy==2.2.4
joblib==1.4.2
requests==2.32.3
python-dotenv==1.1.0
python-whois==0.9.6
APScheduler==3.11.2
tld==0.13
psycopg2-binary==2.9.10
